<div class="footer">
    <div class="social">
        <a href="https://www.instagram.com/listebdewanted/" target="_blank">
            Instagram
        </a>
        <!-- <a>
            Twitter
        </a> -->
        <a href="https://www.facebook.com/ListeBDEWanted" target="_blank">
            Facebook
        </a>
        
    </div>
    <div class="logo">
        <img src="/assets/images/logo.svg" alt="Logo Wanted">
    </div>
    <div class="contact">
        <!-- <a>
            Groupe Telegram
        </a> -->
        <a (click)="copyAddress()">
            Adresse mail
        </a>
        <a href="https://t.me/listebdewanted" target="_blank">
            Canal Telegram
        </a>
        <!-- <a>
            Messenger
        </a> -->
    </div>
</div>

<div class="popup" *ngIf="showPopup" [@FadeIO]>
    Adresse copiée
</div>