<div class="footer">
    <div class="social">
        <a>
            Instagram
        </a>
        <a>
            Twitter
        </a>
        <a>
            Facebook
        </a>
        <a>
            Canal Telegram
        </a>
    </div>
    <div class="logo">
        <img src="/assets/images/logo.svg" alt="Logo Wanted">
    </div>
    <div class="contact">
        <a>
            Groupe Telegram
        </a>
        <a (click)="copyAddress()">
            Adresse mail
        </a>
        <a>
            Messenger
        </a>
    </div>
</div>

<div class="popup" *ngIf="showPopup " [class.visible]="opa">
    Adresse copiée
</div>