<div class="card" *ngIf="who != undefined">
    <div class="main">
        <div class="image">
            <img src="/assets/images/testmember.jpg"/>
        </div>
    </div>


    <div class="infos">
        <div class="name">
            {{who.name}}
        </div>
        
        <div class="nickname">
            {{who.nickname}}
        </div>

        <div class="role" *ngIf="who.tag!=undefined">
            {{who.tag}}
        </div>

        <div class="desc">
            {{who.desc}}
        </div>
    </div>
</div>