@mixin lightFade(){
    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 15px;

        background: linear-gradient(rgba(var(--c), calc(0.25 * var(--y))) 0%, rgba(var(--c), 0) 75%);
    }
}

.card{
    position: relative;
    width: 300px;
    aspect-ratio: 3/4;
    overflow: hidden;

    font-family: 'Saddle Bag';

    .content{
        position: relative;
        height: 100%;
        width: 100%;
        transform-style: preserve-3d;
        
        transition: 1s;
    }

    .face{
        position: absolute;
        width: 100%;
        height: 100%;

        border-radius: 15px;
        overflow: hidden;

        backface-visibility: hidden;
 
    }

    &.wanted .ath{
        opacity: 1;
        transition: .3s;
    }

    &.desc .content{
        transform: rotateY(0.5turn);
    }

}

.front{

    @include lightFade();

    div > img{
        max-height: 100%;
        max-width: 100%;
    }

    .image{
        width: 100%;
        height: 100%;
    }

}

.back{
    background-color: beige;
    
    background: url(/assets/images/ath_back.png);
    background-size: 100%;
    
    transform: rotateY(.5turn);

    color: black;

    @include lightFade();

    .half{
        width: auto;
        height: 50%;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        text-align: center;
    }

    .upper{
        font-size: 30px;

        .name{
            font-size: 40px;
        }
    }

    .lower{
        font-size: 25px;
        padding: 0 7px;

        // text-rendering: geometricPrecision;
    }
}

.ath{
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    transition: .3s;

    .infos{
        position: absolute;
        width: 100%;
        height: 112px;
        left: 0;
        bottom: 0px;

        display: flex;
        flex-direction: column;
        justify-content: space-around;

        font-size: 1.75rem;

        .name{
            font-size: 2.42069rem;
        }

        color: black;

        & > span{
            width: 100%;

            text-align: center;
        }
        
    }
}