<div class="card" *ngIf="who != undefined" [class]="{'wanted':wanted}">
    <div class="main">
        <div class="image">
            <img src="/assets/images/testmember.jpg"/>
        </div>

        <div class="ath">
            <img src="/assets/images/ath_wanted.png"/>
            <div class="name">
                <span>{{who.name}}</span>
                <span>"{{who.nickname}}"</span>
            </div>
        </div>
    </div>


    <div class="infos">
        <!-- <div class="name">
            {{who.name}}
        </div> -->
        
        <div class="nickname">
            {{who.nickname}}
        </div>

        <div class="role" *ngIf="who.tag!=undefined">
            {{who.tag}}
        </div>

        <div class="desc">
            {{who.desc}}
        </div>
    </div>
</div>