<div class="card noselect" *ngIf="who != undefined" [class]="{'wanted':wanted, 'desc': turn}">
    <div class="content">
        <div class="front face">

            <div class="image">
                <img src="/assets/images/testmember.jpg"/>
            </div>

            <div class="ath">

                <img src="/assets/images/ath_wanted.png"/>

                <div class="infos">
                    <span class="name">{{who.name}}</span>
                    <span>"{{who.nickname}}"</span>
                    <span>{{who.tag}}</span>
                </div>

            </div>

        </div>

        <div class="back face">

            <div class="upper half">

                <span class="name">{{who.name}}</span>

                <span>"{{who.nickname}}"</span>
        
                <span *ngIf="who.tag != undefined">{{who.tag}}</span>

            </div>

            <div class="lower half">
                <span class="desc">
                    {{who.desc}}
                </span>
            </div>
    
        </div>
    </div>
</div>