<div class="innerComp">
    <div class="innerContent">
        
        <div class="title">
            Notre clip de campagne
        </div>

        <div class="videoPreview" (click)="show(true)">
            <img src="/assets/images/story-video-fpo.png">

        </div>
    </div>
</div>


<div class="fullpageView" [@FadeIO]="showVideo">
    <div class="background" (click)="show(false)"></div>

    <div class="vidContainer">
        <iframe #video width="100%" height="100%" src="https://www.youtube.com/embed/QwPkocbHC3E?enablejsapi=1&version=3&playerapiid=ytplayer"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
    </div>
</div>