<div class="bar noselect" [class]="{'extend': nav.extend}" *ngIf="nav.showBar; else navMenu">

    <div class="logo">
        <img src="/assets/images/logo.png" alt="Logo Wanted">
    </div>

    <nav>
        <a *ngFor="let n of Navs; let i = index" [class]="{'hover': hoverNav[i]>0}"
        (click)="navigate(n.path, n.goto)" (mouseenter)="hover(i)" (mouseleave)="unhover(i)">
            <span>
                {{n.name}}
            </span>
        </a>
    </nav>

    <div class="logo">  
        <img src="/assets/images/logo.png" alt="Logo Wanted">
    </div>

</div>

<ng-template #navMenu>
    <div class="menu">
        <div class="showMenu">

        </div>
    </div>
</ng-template>

