@import 'mixins';
$transition_time: 0.2s;

.innerComp{

    .innerContent{

        @include center();

        width: 100%;

    }
    
    .title{
        width: 100%;
        margin: 25px 0;

        text-align: center;

        font-size: 5em;
        font-family: 'Western Bang Bang';
    }

    .carouselContainer{

        position: relative;
        // bottom: 10%;
        // left: 0;

        height: 50vh;
        // height: 100%;
        width: 100%;

    }
}

.transition {
	transition: all $transition_time ease-in-out;
}

.carousel {

	display: flex;

	.content {
		display: flex;
        flex-direction: row;
        height: 100%;

		.item {
			width: 100%;
            display: block;
            padding: 0 80px;

			// using delay to prevent left change show error
			&.fade_animation {
				transition: opacity 0.295s linear $transition_time;
			}

		}
	}

    &:hover .balls{
        opacity: 1;
        transition: .25s;
    }

    .balls{
        opacity: 0;
        
        transition: 1s;
        transition-delay: 1s;


        .ball {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: black;
            border: 2px solid;
            opacity: 0.5;
    
            &.active {
                opacity: 1;
            }
        }

    }

	

	.progress {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 5px;
		background: #ff5252;
	}

	.click-area {
		width: 75px;
        height: 75px;
        border-radius: 75px;
        background-color: #000000A0;
		text-align: center;
        cursor: pointer;

		span{
			font-size: 3em;
            @include center();
		}
	}

}

.item.active .travelBrief:hover .travelInfos{
    transform: translateX(0%);
    transition: .5s;
}

.travelBrief {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .travelInfos{
        height: 100%;
        width: 75%;

        color: black;

        transform: translateX(-100%);
        transition: .5s;

        -webkit-clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);

        .travelName{
            text-align: center;
            font-size: 100px;
            font-family: 'Western Bang Bang';
            // padding-right: 5em;
        }

        .travelDesc{            
            position: absolute;
            top: 25%;
            left: 0;

            width: 75%;
            height: 50%;

            padding-left: .69em;
            font-size: 35px;
            font-family: 'Saddle Bag';
        }
    }

    
}


