#home{
    width: 100%;
    height: 100vh;
    background-image: url('/assets/images/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position-y: 0;
}

.inner{
    // height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
}


#members{
    display: flex;
    width: 100%;

    flex-direction: column;
    justify-content: flex-start;


    .pole{
        .banner{
            width: 100%;
            font-size: 5em;
            text-align: center;
            padding: 15px 0;

            font-family: 'Western Bang Bang';
        }

        .people{
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;

            .member{
                position: relative;
			    transition: .3s;
                margin: 30px;
                overflow: hidden;
                border-radius: 15px;
			
                &::after{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
        
                    background: linear-gradient(rgba(var(--c), calc(0.33 * var(--y))) 0%, rgba(var(--c), 0) 75%);
                }
            }
        }
    }
}