<div class="inner">
    <div id="home">
        
    </div>

    <!-- <span routerLink="/test" *ngFor="let i of A">home works {{i}}!</span> -->
    <div id="members">
        <div class="pole" *ngFor="let pole of people.Poles">
            <div class="banner">
                <span>{{pole.name}}</span>
            </div>
            <div class="people">
                <ng-container *ngFor="let member of pole.members">
                    <div memberCard class="member" [id]="member.id">
                    
                    </div>
                    <br/>
                </ng-container>
            </div>
            
        </div>
    </div>
</div>

